<header id="home" data-spy="scroll" data-target="#top-nav">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="navbar navbar-default navbar-fixed-top default-menu menu-4" role="navigation">
                <div class="container">
                    <div class="navbar-header">

                      <!--=== Logo ===-->
                      <%= link_to root_path, class: "navbar-brand default-logo scroll" do %>
                        <%= image_tag("logo.png", :class => "logo_img") %> FOCUS
                      <% end %>
                    </div>
                    <div class="collapse navbar-collapse top-nav" id="menu-4">
                      <!--=== 网站连结 ===-->
                      <ul class="nav navbar-nav navbar-left">
                        <li><%= link_to("招聘职位", jobs_path, class: "scroll") %></li>
                        <li><%= link_to("最新公告", jobs_path, class: "scroll") %></li>
                        <li><%= link_to("招聘流程", jobs_path, class: "scroll") %></li>
                        <li><%= link_to("帮助中心", jobs_path, class: "scroll") %></li>
                      </ul>
                      <!--=== 帐号操作 ===-->
                      <ul class="nav navbar-nav navbar-right">
                        <li class="divider" role="separator"></li>
                          <% if !current_user %>
                            <li><%= button_to("登录", new_user_session_path, method: :get, class: "btn btn-default navbar-btn") %></li>
                            <li><%= button_to("注册", new_user_registration_path, method: :get, class: "btn btn-default navbar-btn") %> </li>
                          <% else %>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  你好！ <%= current_user.email %>
                                  <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                  <% if current_user.admin? %>
                                  <li> <%= link_to("招聘管理", admin_jobs_path) %> </li>
                                  <% end %>
                                  <li> <%= link_to("退出", destroy_user_session_path, method: :delete) %> </li>
                              </ul>
                            </li>
                          <% end %>
                      </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Job Listing </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if !current_user %>
                  <li><%= link_to("注册", new_user_registration_path) %> </li>
                  <li><%= link_to("登录", new_user_session_path) %></li>
                <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        你好！ <%= current_user.email %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <% if current_user.admin? %>
                        <li> <%= link_to("招聘管理", admin_jobs_path) %> </li>
                        <% end %>
                        <li> <%= link_to("退出", destroy_user_session_path, method: :delete) %> </li>
                    </ul>
                  </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav> -->
